[Unit]
Description=Gammastep
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/gammastep -l 59.523816:17.885369

[Install]
WantedBy=default.target
