[Unit]
Description=Kanshi
PartOf=graphical-session.target

[Service]
Type=simple
ConditionEnvironment=WAYLAND_DISPLAY
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=default.target
