[Unit]
Description=Kanshi
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=default.target
