[Unit]
Description=Wayland Sync Clipboard
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --primary --watch /usr/bin/wl-copy

[Install]
WantedBy=default.target
